body {
    margin: 0;
    font-family: "Niramit", sans-serif;
}

button {
    background: none;
    border: none;
    outline: none;
}

.black-btn {
    background: rgb(75, 85, 72);
    color: #fff;
    height: 52px;
    cursor: pointer;
}

.black-btn:hover {
    background: rgb(43, 46, 43);
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.pos-fixed {
    position: fixed;
}
