.footer {
    width: 100%;
    margin: 0 0 120px;
    display: flex;
    justify-content: space-between;
    color: #4a4a4a;
    position: relative;
    padding: 20px 5vw;
    border-top: 1px solid #dbd9d9;
    box-sizing: border-box;
  }
  
  .footer-section {
    width: 280px;
    margin-bottom: 10px;
  }
  
  .footer-section h5 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .footer-section a {
    color: #4a4a4a;
    font-size: 18px;
    margin: 20px 0;
    display: block;
    text-decoration: none;
  }
  
  .footer-socials {
    display: flex;
    margin: 20px 0;
  }
  
  .footer-socials button {
    border-radius: 50%;
    font-size: 25px;
    margin-right: 5px;
    border: none;
    color: #fff;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
  }
  
  .footer-socials button:first-of-type {
    background: #38a1f3;
  }
  
  .footer-socials button:nth-of-type(2) {
    background: #4267b2;
  }
  
  .footer-socials button:nth-of-type(3) {
    background: rgb(31, 138, 196);
  }
  
  .footer-socials button:last-of-type {
    background: #0077b5;
  }
  
  .footer-copyright {
    position: absolute;
    bottom: 20px;
    text-align: right;
    width: calc(100% - 10vw);
  }
  
  @media screen and (max-width: 870px) {
    .footer {
      min-width: 660px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .footer {
      min-width: 400px;
      flex-wrap: wrap;
    }
  
    .footer-section {
      width: 100%;
      text-align: left;
      margin-bottom: 0;
    }
  
    .footer-socials {
      justify-content: flex-start;
    }
  
    .footer-section:last-of-type {
      margin-bottom: 50px;
    }
  
    .footer-section h5 {
      margin-top: 15px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .footer {
      min-width: 280px;
    }
  
    .footer-copyright {
      text-align: left;
    }
  }
  