.index-navbar {
    height: 70px;
    background: #fff;
    display: flex;
    padding: 1px 5vw;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    width: calc(100% - 10vw);
    z-index: 200;
    box-shadow: 0px 4px 4px rgba(180, 180, 180, 0.15);
    color: #4a4a4a;
}
  
  .index-navbar a,
  .index-navbar span {
    text-decoration: none;
    color: #4a4a4a !important;
    cursor: pointer;
  }
  
  .index-navbar-logo,
  .index-navbar-logo a {
    display: flex;
    align-items: center;
  }
  
  .index-navbar-logo-img {
    width: auto;
    height: 40px;
  }
  
  .index-navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .index-navbar-links a {
    font-size: 16px;
    height: 40px;
    font-weight: bold;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 40px;
  }

  .index-navbar-links a:last-of-type {
    margin-right: 0px;
  }
  
  #signuplink {
    background: #ee5b76;
    color: #fff !important;
    padding: 0 20px 2px;
  }
  
  @media screen and (max-width: 820px) {
    .index-navbar-links a,
    .index-navbar-links span {
      font-size: 13px;
    }
  
    .index-navbar-logo-img {
      height: 35px;
    }

    #signuplink {
      padding: 0 10px;
    }
  }
  