.index-navbar {
    height: 70px;
    background: #f5f5f4;
    display: flex;
    padding: 1px 40px;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    width: calc(100% - 80px);
    z-index: 200;
    box-shadow: 0 2px 3px -3px grey;
    color: #262626;
}
  
  .index-navbar a,
  .index-navbar span {
    text-decoration: none;
    color: #262626 !important;
    cursor: pointer;
  }
  
  .index-navbar-logo,
  .index-navbar-logo a,
  .index-navbar-links {
    display: flex;
    align-items: center;
  }
  
  .index-navbar-logo-img {
    width: auto;
    height: 40px;
  }
  
  .index-navbar-links {
    justify-content: space-between;
    line-height: 100%;
  }
  
  .index-navbar-links a {
    font-size: 14px;
    cursor: pointer;
    margin-right: 30px;
  }

  .index-navbar-links a.cart-link {
    position: relative;
    margin-right: 40px;
  }

  .cart-img{
    width: 25px;
    height: 21px;
    position: relative;
    top: 2px;
  }

  .cart-no {
    position: absolute;
    top: -2px;
    left: calc(100% + 2px);
    font-size: .8125rem;
  }
  
  @media screen and (max-width: 820px) {
    .index-navbar-links a,
    .index-navbar-links span {
      font-size: 13px;
    }
  
    .index-navbar-logo-img {
      height: 35px;
    }
  }

  @media screen and (max-width: 500px) {
    .index-navbar {
      padding: 1px 10px;
      width: calc(100% - 20px);
    }

    .index-navbar-links a:first-of-type {
      display: none;
    }

    .index-navbar-links a.cart-link {
      margin-right: 10px;
    }
  }
  